################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Source/FPL/FPL_Interpreter c++/Debug
/Source/FPL/FPL_Interpreter c++/Release
/Source/FPL/报告20180209-1409.vspx
/Source/FPL/报告20180127-2256.vspx
/Source/FPL/FPL_Interpreter c++180209.vspx
/Source/FPL/FPL_Interpreter c++.psess
/Source/FPL/.vs/FPL/v15/Solution.VC.db-shm
/Source/FPL/.vs/FPL/v15/Solution.VC.db-wal
/Source/FPL/.vs/FPL/v15/Browse.VC.opendb
/Source/FPL/.vs/FPL/v15/Server/sqlite3
*.exe
*.pdb
